.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form input {
    padding: 0.5rem;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
  }
  
  .form button {
    padding: 0.5rem 1rem;
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #005da3;
  }
  